In [1]:
import sqlite3
import pandas as pd
import random

In [2]:
db = sqlite3.connect('lunch.db')
c = db.cursor()

In [3]:
c.execute('''CREATE TABLE meals(sandwich TEXT, fruit TEXT, tablenumber INT)''')

In [4]:
sandwiches = ['ham','turkey','roast beef','chicken','pastrami','bologna']
fruits = ['apple','banana','raspberry','strawberry','blueberry','blackberry','pear','mango']
tablenums = range(1,10)

for x in range(0, 25):
    c.execute('''INSERT INTO meals VALUES(?,?,?)''', (random.choice(sandwiches), random.choice(fruits), random.choice(tablenums)))
db.commit()

In [8]:
c.execute('''SELECT fruit FROM meals''')
results = c.fetchall()
print(results)

OperationalError: no such table: meals

In [7]:
# c.execute('''DROP TABLE meals''')